<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="ai.xmax.sdk.rendering.video.RealtimeVideoTestActivity"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
    </application>
</manifest>
